section {
    height: 300px;
    display: flex;
    justify-content: center;
}

#first{
    clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 0 calc(100% - 80px));
    background-color: #fa70fa;
}

#last{
    margin-top: -20px;
    background-color: #3da8dd;
    clip-path: polygon( 0 0 , 100% 80px , 100% 100% , 0 100% );
}

.matn{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    font-size: 50px;
    color: azure;
}